<%- include('components/nav'); %>

  <div class="pmd-card col-11 col-md-6 mx-auto toppedCardMiddle">
    <div class="pmd-card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-key"></i>
      </h1>
      <%- include('./partials/messages'); %>
        <form action="/updatePassword" method="POST">

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="exPassword">Mot de passe actuel</label>
            <input type="password" id="exPassword" class="form-control" name="exPassword">
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="newPassword">Nouveau mot de passe</label>
            <input type="password" id="newPassword" class="form-control" name="newPassword">
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="newPasswordConfirm">Confirmer le nouveau mot de passe</label>
            <input type="password" id="newPasswordConfirm" class="form-control" name="newPasswordConfirm">
          </div>

          <div class="col-12" style="text-align: center;">
            <button type="submit" class="btn pmd-btn-outline pmd-ripple-effect btn-primary">Modifier le mot de passe
              <i class="fas fa-key marginedIcons"></i>
            </button>
          </div>

        </form>
      </div>
    </div>
